[run]
# Exclude paths from coverage analysis
omit =
    */migrations/*,    
    manage.py,       
    */apps.py,          
    */models/__init__.py, 
    */admin.py,       
    */base_model.py,
    */settings.py

[report]
# Show coverage statistics in terminal
show_missing = true